<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find spot_description)/urdf/spot.urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!--node pkg="tf" type="static_transform_publisher" name="velodyne_broadcaster" args="0 0 0.085 0 0 0 rear_rail velodyne_link 100" /-->
</launch>